<form method="get" action="/quizes/<%= quiz.id %>/answer">	
	Pregunta: <%= quiz.pregunta %> <p>
	<input type='text' name='respuesta' value='responde aqui'/>
	<input type='submit' value='Enviar'/>
</form>

<p> <a href="/quizes/<%= quiz.id %>/comments/new">Crear Comentario</a> </p>
<p> <strong>Comentarios:</strong></p>
<%for( index in quiz.Comments){ %>
	<%if(session.user || quiz.Comments[index].publicado) {%>
		<p>- <%=quiz.Comments[index].texto%> </p>
	<%}%>
	<%if(session.user && !quiz.Comments[index].publicado) {%>
		<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish" >publicar</a> 
	<%}%>
<%}%>
